<div class="card mx-auto flex-column d-flex align-items-center" style="width: 25rem;">
  <div class="card-header" style="background-color: #fff">
    <h2>Log in</h2>
  </div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>
      <br/>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <br/>
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
      <br/>
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
      <br/>
      <div class="actions">
        <%= f.submit "Log in", class:"btn btn-success" %>
      </div>
    <% end %>
    <br/>
    <%= render "devise/shared/links" %>
  </div>
</div>
